/**
 * @name Rosé Pine
 * @author ThatOneCalculator, Flammable Duck
 * @description Soho vibes for Discord
 * @version 0.2
 */


:root {
  --font-primary: "CaskaydiaCove Nerd Font", Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-display: "SF Pro Display" Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-code: "CaskaydiaCove" ,Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}
.theme-dark{
  /* text */
  --text-normal: #e0def4;
  --text-muted: #6e6a86;
  --text-link: #d7827e;
  /* interactive */
  --interactive-normal: #d7827e;
  --interactive-hover: #575279;
  --interactive-active: #d7827e;
  --interactive-muted: #9893a5;
  /* background */
  --channeltextarea-background: #26233a;
  --background-primary: #191724;
  --background-floating: #191724;
  --background-secondary: #1f1d2e;
  --background-secondary-alt: #1f1d2e;
  --background-tertiary: #26233a;
  --background-accent: #747f8d;
}

.theme-light {
  /* text */
  --text-normal: #575279;
  --text-muted: #6e6a86;
  --text-link: #d7827e;
  /* interactive */
  --interactive-normal: #d7827e;
  --interactive-hover: #575279;
  --interactive-active: #d7827e;
  --interactive-muted: #9893a5;
  /* background */
  --channeltextarea-background: #fffaf3;
  --background-primary: #faf4ed;
  --background-secondary: #fffaf3;
  --background-secondary-alt: #f2e9de;
  --background-tertiary: #f2e9de;
  --background-accent: #747f8d;
  --background-floating: #f2e9de;
}
.scroller-1JbKMe, .container-3w7J-x, .panels-j1Uci_ {
  background-color: var(--background-secondary);
}
.channelTextArea-rNsIhG{
  height: 53px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
}
.scrollableContainer-2NUZem {
  height: 100%;
  border-radius: 0px;
}

.iconContainer-1BBaeJ {
 display: none;
}

div[aria-label="Voice (Limited)"], div[aria-label="Voice"] {
  /* display: none; */
  visibility: hidden;
  white-space: nowrap;
}
div[aria-label="Voice (Limited)"]::after, div[aria-label="Voice"]::after {
  content: "響";
  visibility: visible;
  display: block;
  position: absolute;
  top: 2px;
}


.username-1A8OIy::before  {content: "<@";}
.username-1A8OIy::after  {content: ">";}
.username-1A8OIy::after, .username-1A8OIy::before {
 color: var(--text-muted);
}
.buttons-3JBrkn > button {
  display: none;
}

.form-2fGMdU {
  padding: 0px;
}
.peopleColumn-29fq28 {
    background-color: var(--background-primary);
}

.sprite-2iCowe {
    filter: grayscale(0%);
}
