/**
 * @name Rosé Pine
 * @author ThatOneCalculator, Flammable Duck
 * @description Soho vibes for Discord
 * @version 0.3
 */


:root {
  --font-primary: "Cascadia Code", Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-code: "Cascadia Code" ,Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}

.theme-dark{
  /* text */
  --text-normal: #e0def4;
  --text-muted: #6e6a86;
  --text-link: #d7827e;
  /* interactive */
  --interactive-normal: #d7827e;
  --interactive-hover: #575279;
  --interactive-active: #d7827e;
  --interactive-muted: #9893a5;
  /* background */
  --channeltextarea-background: #26233a;
  --background-primary: #191724;
  --background-floating: #191724;
  --background-secondary: #1f1d2e;
  --background-secondary-alt: #1f1d2e;
  --background-tertiary: #26233a;
  --background-accent: #747f8d;
}

.theme-light {
  /* text */
  --text-normal: #575279;
  --text-muted: #6e6a86;
  --text-link: #d7827e;
  /* interactive */
  --interactive-normal: #d7827e;
  --interactive-hover: #575279;
  --interactive-active: #d7827e;
  --interactive-muted: #9893a5;
  /* background */
  --channeltextarea-background: #fffaf3;
  --background-primary: #faf4ed;
  --background-secondary: #fffaf3;
  --background-secondary-alt: #f2e9de;
  --background-tertiary: #f2e9de;
  --background-accent: #747f8d;
  --background-floating: #f2e9de;
}
.scroller-1JbKMe, .container-3w7J-x, .panels-j1Uci_ {
  background-color: var(--background-secondary);
}

.peopleColumn-29fq28 {
    background-color: var(--background-primary);
}

/* username stuff */
[class^="name_"], [class^="username_"], .nickname_db3773 {
    font-weight: bold;
}

[class^="username__"]::before, [class^="username__"]::after {
 color: var(--text-muted);
}

[class^="username__"]::before  {content: "<@";}
[class^="username__"]::after  {content: ">";}

/* .username__0b0e7::before  {content: "<@";}
.username__0b0e7::after  {content: ">";} */

.timestamp_c79dd2.latin24CompactTimeStamp_f2f700 {
    width: 3.3rem;
}
